<% content_for :head do%>
	<script type="text/javascript" charset="utf-8">	
		$(document).ready(function(){
			surveyForm.init($('#new-survey'));			
		})
		var opi = 0;
		var optionPlaceholders = ["Alright", "Great!", "Terrible"];
		var surveyForm = {
			root: null,
			init: function(r){
				surveyForm.root = r;
				$(surveyForm.root).hide();
				
				var surveyTitle = $('<div id="survey-title"></div>').appendTo(surveyForm.root);
				$('<label>Title</label>').appendTo(surveyTitle);
				$('<input name="survey-title" type="text" placeholder="SOCIAL101">').appendTo(surveyTitle);
				
				var questions = $('<div id="questions"></div>').appendTo(surveyForm.root);
				surveyForm.addQuestion();
				
				$(surveyForm.root).fadeIn();
			},
			addQuestion: function(){
				var question = $('<div class="question"></div>').appendTo('#questions');
				
				var title = $('<div class="question-title"></div>').appendTo(question);
				$('<label>Question</label>').appendTo(title);
				$('<input name="question-title" type="text"  placeholder="How is it going?">').appendTo(title);
				
				var type = $('<div class="question-type"></div>').appendTo(question);
				var response = $('<div class="question-response"></div>').appendTo(question);
				$('<label>Type</label>').appendTo(type);
				$('<input type="radio" name="question-type" value="multiple-choice" checked="checked">').appendTo(type).click(function(e){
					// e.preventDefault();
					surveyForm.initMC(response);
				});
				surveyForm.initMC(response);
				$('<span>multiple-choice</span>').appendTo(type);
				$('<input type="radio" name="question-type" value="fill-in">').appendTo(type).click(function(e){
					// e.preventDefault();
					surveyForm.initFI(response);
				});
				
				var done = $('<a href="#" class="survey-done"></a>').html('Done').appendTo(question).click(function(e){
					e.preventDefault();
					surveyForm.done();
				});
				$('<span>fill-in</span>').appendTo(type);
			},
			initMC: function(r){
				$(r).empty();
				var options = $('<div class="options"></div>').appendTo(r);
				var add = $('<a href="#" class="add-option"></a>').html('add').appendTo(r).click(function(e){
					e.preventDefault();
					surveyForm.addOption(options);
				});				
				surveyForm.addOption(options);
				surveyForm.addOption(options);
			},
			addOption: function(r){
				var option = $('<div class="option"></div>').appendTo(r);
				$('<input type="text" class="option-content">').attr("placeholder", optionPlaceholders[opi]).appendTo(option);
				opi = (opi+1)%optionPlaceholders.length;
				$('<a href="#" class="option-remove"></a>').html('remove').appendTo(option).click(function(e){
					e.preventDefault();
					$(option).remove();
				});
			},
			initFI: function(r){
				$(r).empty();				
				$(r).html("A text field will be sent.");
			},
			done: function(){
				var questions = [];
				$.each($('.question'), function(i,v){					
					var type = $(v).find('input[name="question-type"]:checked').val();
					if(type=="multiple-choice"){
						var options = [];
						$.each($(v).find('.option'), function(j,u){
							var option = {
								content: $(u).find('.option-content').val(),
								type: 'text'
							}
							options.push(option);
						});
						var question = {
							title: $(v).find('input[name="question-title"]').val(),
							type: type,
							options: options
						}
					}else{
						var question = {
							title: $(v).find('input[name="question-title"]').val(),
							type: type
						}
					}
					
					questions.push(question);
				})
				var data = {
					title: $('input[name="survey-title"]').val(),
					questions: questions
				}
				
				$.ajax({
					url: '/api/surveys/create.json',
					type: 'post',
					dataType: 'json',
					data:data,
					beforeSend: function(){
						loading();
					},
					success: function(obj){
						unloading();
						if(obj.status=="success"){
							window.location = '/qs/'+obj.data.token;					
						}else{
							alert("Error: "+obj.message);
						}
						// alert(JSON.stringify(obj));
					}
				})
			}
		}
	</script>
<% end %>

<div id="new-survey">
</div>