<% content_for :head do%>
  <link href="/assets/nv.d3.css">
	<script src="/assets/d3.v2.js"> </script>
	<script src="/assets/nv.d3.js">	</script>
	<script src="/assets/legend.js"></script>
	<script src="/assets/pie.js"></script>
	<script src="/assets/pieChart.js"></script>
	<script src="/assets/utils.js"> </script>
	<script type="text/javascript" charset="utf-8">
		$.fn.refresh = function(value){
			if($(this).html()!=value){
				$(this).hide().html(value).fadeIn();
			}
		}
		$(document).ready(function(){
			panel.init($('#panel'));
		})
		var panel = {
			root: null,
			init: function(r){
				panel.root = r;
				$(panel.root).hide();
				
				$.ajax({
					url: '/api/surveys/'+$('#token').text()+'/panel.json',
					dataType: 'json',
					beforeSend: function(){
						loading();
					},
					success: function(obj){
						unloading();
						if(obj.status=="success"){
							panel.buildSurvey(obj.data);
							$(panel.root).fadeIn();
							setInterval(function(){panel.update()}, 5000);
						}else{
							alert("Error: "+obj.message);
						}
					}
				})
			},
			update: function(){
				$.ajax({
					url: '/api/surveys/'+$('#token').text()+'/panel.json',
					dataType: 'json',
					beforeSend: function(){					
					},
					success: function(obj){						
						if(obj.status=="success"){
							$.each(obj.data.questions, function(i,v){
								if(v.kind=="multiple-choice"){
									var question = $(".panel-question[token='"+v.token+"']");
									question.find('.panel-question-total-subtag').first().refresh(v.stats.total);
									question.find('.panel-question-ago').first().refresh(v.stats.ago);
									$.each(v.stats.options, function(j, u){
										var option = $(question).find(".panel-option[token='"+u.token+"']");
										option.find('.panel-option-total-subtag').first().refresh(u.total);
										option.find('.panel-option-ago').first().refresh(u.ago);
									})
								}
							})								
						}
					}
				})
			},
			buildSurvey: function(data){
				var survey = $('<div id="panel-survey"></div>').appendTo(panel.root);
				var title = $('<div id="panel-survey-title"></div>').html(data.title).appendTo(survey);
				var questions = $('<div class="panel-questions"></div>').appendTo(survey);
				
				
				
				var token = $('<a href="#" id="survey-token"></a>').appendTo(panel.root);
				var qrcode = $('<img>').appendTo(token);
				var url = window.location.origin + "/ask/"+data.token;
				qrcode.attr("src", "https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl="+url);
				$('<div id="survey-token-text"></div>').html('survey token: '+data.token).appendTo(token);
				$(token).click(function(e){
					e.preventDefault();
					var fullscreen = $('<a href="#" id="fullscreen"></a>').hide().appendTo('body');
					
					var qrcodef = $('<img>').appendTo(fullscreen);
					qrcodef.attr("src", "https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl="+url);
					$('<div id="fullscreen-token-text"></div>').html(data.token).appendTo(fullscreen);
					$(fullscreen).fadeIn();
					
					$(fullscreen).click(function(e){
						e.preventDefault()
						$(this).fadeOut(function(){$(this).remove()});
					})
				})
				$.each(data.questions, function(i,v){
					var question = $('<div class="panel-question"></div>').attr("token", v.token).appendTo(questions);
					panel.updateQuestion(question, v);
				});
			},
			updateQuestion: function(q, v){
				q.empty();
				$('<div class="panel-question-title"></div>').html("Q: " +v.title).appendTo(q);				
				$('<div class="panel-question-kind"></div>').html(v.kind).appendTo(q);				
				var options = $('<div class="panel-options"></div>').appendTo(q);				
				if(v.kind=="multiple-choice"){
					var pieData = [];
					var total = v.stats.total;
					$.each(v.stats.options, function(i,o){
						if(o.total>0){
							pieData.push({key:o.content, y:(o.total)/total});
						}						
						var option = $('<div class="panel-option"></div>').attr("token", o.token).appendTo(options);
						$('<div class="panel-option-content"></div>').html(o.content).appendTo(option);						
						var ot = $('<div class="panel-option-total"></div>').appendTo(option);
						$('<div class="panel-option-total-subtag"></div>').html(o.total).appendTo(ot);
						if(o.total > 0){
							$('<div class="panel-option-ago"></div>').html(o.ago).prependTo(ot);
						}
					})

					var total_tag = $('<div class="panel-question-total"></div>').appendTo(q);
					var total_subtag = $('<div class="panel-question-total-subtag"></div>').html(v.stats.total).appendTo(total_tag);
					
					if(total > 0){
						$('<div class="panel-question-ago"></div>').html(v.stats.ago).prependTo(total_tag);
						var pie = $('<svg id="pie"></svg>').appendTo(panel.root);

						nv.addGraph(function() {
						    var width = 400,
						        height = 400;

						    var chart = nv.models.pieChart()
						        .x(function(d) { return d.key })
						        .y(function(d) { return d.y })
						        // .showLabels(false)
						        .values(function(d) { return d })
						        .color(d3.scale.category10().range())
						        .width(width)
						        .height(height);

						      d3.select("#pie")
						          .datum([pieData])
						        .transition().duration(1200)
						          .attr('width', width)
						          .attr('height', height)
						          .call(chart);

						    chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

						    return chart;
						});
					}
					
				}else{
					$.each(v.stats.responses, function(i,o){
						var response = $('<div class="panel-option"></div>').appendTo(options);
						$('<div class="panel-option-content"></div>').html(o.value).appendTo(response);
						$('<div class="panel-option-total"></div>').html(o.ago).appendTo(response);
					})
				}
				
				
				
			}
		}
	</script>
<% end %>

<div id="token" style="display:none;">
	<%= @survey.token%>
</div>

<div id="panel">
</div>
